.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    font-weight: bold;
    color: rgb(231, 154, 221);
    background: rgb(240, 207, 212);
}

.login-content {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button{
    width: 90%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: purple;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.submit-button:hover {
    opacity: 0.6;
}

.label-error {
    font-size: 11px;
    color: rgb(253, 105, 105);
    background: rgba(255, 255, 255, 0.281);
    width: fit-content;
    height: fit-content;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 10px;

}

.label-alert{
    font-size: 11px;
    color: rgb(253, 105, 105);
    background: rgba(255, 255, 255, 0.281);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-container h1, .home-container label1 {
    color: white;
}